# 仮想環境
venv/

# バイトコード
__pycache__/
*.pyc

# 環境変数（機密情報）
.env

# ログファイル
*.log

# IDE / エディタ設定ファイル（必要に応じて）
.vscode/
.idea/

# パッケージング/ビルド
dist/
build/

# Firebase設定ファイル
advancedprojectexperiment2-firebase-adminsdk-fbsvc-999f94b825.json

.DS_Store
